.paper {
    margin-top: 55px;
}

.table-head {
    background-color: #4F4E52;
}

.table-head-row {
    font-size: 1.1em !important;
    color: white !important;
}

.comments {
    width: 40%;
}

.unselected {
    color: gray;
}

.save-btn {
    margin-top: 40px;
    margin-bottom: 55px;
    color: white;
    background-color: #4a4a4a;
    font-size: 13px;
    padding: 5px 9px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 220px;
    height: 40px;
}