.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.label {
    margin-top: 15px;
}

.MuiFormLabel-root, .MuiInputLabel-root {
    color: black !important;
}

.comments {
    z-index: 0;
    width: 100% !important;
}

.validation-error {
    color: red;
}

/* The color of the teacher select field (on focus). */
.css-1pahdxg-control {
    border-color: rgb(63, 81, 181) !important;
    box-shadow: 0 0 0 1px rgb(63, 81, 181) !important;
}

.css-yk16xz-control:hover {
    border-color: rgb(33, 33, 33) !important;
}

#teacher-select {
    margin-top: 6px;
}
