p {
    margin: 0;
}

.card {
    margin-top: 55px;
    padding: 5px 25px
}

.date-card {
    margin-top: 20px;
    padding: 5px 25px;
}

.graduation-work-form-title {
    text-align: center;
}

.graduation-work-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.graduation-work-form-label {
    text-align: left;
    font-size: 1rem;
}

.graduation-consultation-deadlines-row {
    display: flex;
    justify-content: space-around;
}

.date-card .MuiFormLabel-root {
    font-size: 20px !important;
}