p {
    margin: 5px 0;
}

.card {
    margin-top: 55px;
    padding: 5px 25px
}

.preliminary-sheet-form-title {
    text-align: center;
}

.preliminary-sheet-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.preliminary-sheet-form-label {
    text-align: left;
    font-size: 1rem;
}

.mandatory-consultation-deadlines-row {
    display: flex;
    justify-content: space-around;
}