p {
    margin: 5px 0;
}

.card {
    margin-top: 55px;
    padding: 5px 25px
}

.student-info-row {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.6px solid rgba(128, 128, 128, 0.46);
}

.student-info-row:last-child {
    border: none;
}

.student-info-column-title {
    font-size: 1.1em;
    font-weight: 500;
}

.student-info-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.student-info-grouped-columns {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
