.student-graduation-subject-form {
    margin-top: 55px;
    margin-bottom: 55px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;*/
    padding: 40px;
    width: 93%;
}

.submit-btn {
    color: white;
    background-color: #4a4a4a;
    font-size: 13px;
    padding: 5px 9px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.validation-error {
    color: red;
}

.success-msg {
    color: #0fd00f;
}