.app {
  width: 65%;
  margin: 0 auto;
  font-family: open-sans, Arial, Helvetica, sans-serif;
}

.nav-bar {
  position: absolute;
  right: 20px;
  top: 35%;
  list-style-type: none;
}

.nav-bar li {
  margin-top: 10px;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: black;
}